$default-font: "roboto-example", sans-serif

$accent: #2a58ad !default

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 576px, md: 768px, lg: 992px, xl: 1170px)

$gutter: $grid-gutter-width / 2




